<section class = "container" style= "padding-top:20px">

  <h1> About </h1>
  <h3 class= "lead"> The <strong>Y</strong>east <strong>O</strong>utgrowh <strong>D</strong>ata <strong>A</strong>nalyzer</h3>


  <p> This program analyzes growth curves, computing doubling times and relative survivals on a sequence of outgrowth curves. The data is exported in a format for easy plotting in Excel (or other spreadsheet programs). The program can also output average values and standard deviations for a group of curves.
  </p>


</section>
