<section class= "container" style= "padding-top:50px">

  <div class = "row">

    <div class = "col-md-8 hidden-sm-down">
      <img src="/static/img/yoda.png" alt="Yoda Logo" class="center img-fluid">
    </div>

    <div class = "col-md-4 col-sm-12 col-xs-12">

      <div class="form-group" style = "padding-top:140px">
      <label for="exampleSelect1">Select Machine</label>
      <select class="form-control" id="exampleSelect1">
        <option>Bioscreen</option>
        <option>Epoch</option>
      </select>
      </div>

      <a href= "#/newExperiment" style= "text-decoration: none">
        <button type="button" class="btn btn-primary btn-lg btn-block">Run Experiment</button>
      </a>

    </div>

  </div>



</section>
