<section class= "container" style= "padding-top:50px">

  <div class = "row">

    <div class = "col-md-9 col-sm-12 col-xs-12">
      <img src="/static/img/yoda.png" alt="Yoda Logo" class="center img-fluid">
    </div>

    <div class = "col-md-3 col-sm-12 col-xs-12">

      <a href= "#/newExperiment" style= "text-decoration: none">
        <button type="button" class="btn btn-primary btn-lg btn-block" style = "margin-top:200px" ng-href="#/newExperiment">Run Experiment</button>
      </a>

    </div>

  </div>



</section>
