<section class= "container" style= "padding-top:10px">

  <div class = "row">
      <div class = "col-2"></div>
      <div class = "col-8"><img src="/static/img/yoda.png" alt="Yoda Logo" class="center-block"></div>
      <div class = "col-2"></div>
  </div>

  <div class = "row">
    <div class = "col-5"></div>
    <div class = "col-2">
    <a href= "#/newExperiment" style= "text-decoration: none" class= "text-center">
      <button type="button" class="btn btn-primary btn-lg btn-block" ng-href="#/newExperiment">Run Experiment</button>
    </a>
    </div>
    <div class = "col-5"></div>
  </div>

</section>
